### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import pandas as pd
import pandas as numpy

# File to Load (Remember to Change These)
filepath = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(filepath)

df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [6]:
player_demographics = purchase_data.loc[:,["Gender", "SN", "Age"]]
player_demographics = player_demographics.drop_duplicates()
num_players= player_demographics.count()[0]

pd.DataFrame({"Total Players": [num_players]})

   Total Players
0            576

## Purchasing Analysis (Total)

In [7]:
df.shape

(780, 7)

In [8]:
df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [9]:
df.SN.nunique()

576

In [10]:
df ["Price"].mean()

3.050987179487176

In [11]:
unique_items = df["Item Name"].nunique()
unique_items

179

In [12]:
average_price = df.Price.mean()
average_price

3.050987179487176

In [13]:
total_price = df.Price.sum()
total_price

2379.77

In [14]:
purchase_count = df.Price.count()
purchase_count

780

In [18]:
Number of Unique Items	Average Price	Number of Purchases	Total Revenue

In [16]:
my_purchase_dict = {"Number of Unique Items":[unique_items],
                   "Average Price":[average_price],
                    "Number of Purchases":[purchase_count],
                    "Total Revenue":[total_price] }
my_purchase_dict

{'Number of Unique Items': [179],
 'Average Price': [3.050987179487176],
 'Number of Purchases': [780],
 'Total Revenue': [2379.77]}

In [19]:
purchase_summary_df = pd.DataFrame(my_purchase_dict)
purchase_summary_df ["Average Price"] = purchase_summary_df["Average Price"].map("${:,.2f}".format)
purchase_summary_df ["Total Revenue"] = purchase_summary_df["Total Revenue"].map("${:,.2f}".format)
purchase_summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [20]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [21]:
cols = ["Gender", "Age", "SN"]

players_demographics = df.loc[:, cols]
players_demographics.head()

  Gender  Age             SN
0   Male   20        Lisim78
1   Male   40    Lisovynya38
2   Male   24     Ithergue48
3   Male   24  Chamassasya86
4   Male   23      Iskosia90

In [22]:
gender_demographics_totals = player_demographics["Gender"].value_counts()
gender_demographics_percents = gender_demographics_totals/ num_players *100
df['Gender'].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [25]:
player_count = player.Gender.value_counts()
player_percentage = player.Gender.value_counts() / len(player)

#stackoverflow.18062521
summ3 = pd.concat([player_cnt, player_perc], axis=1)
summ3.columns = ["Total Count", 'Percentage of Players']

summ3

NameError: name 'player' is not defined


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [26]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [27]:
purchases_by_gender = purchase_data["Gender"].value_counts()
total_purchases = purchases_by_gender.sum()
print(purchases_by_gender)
male_purchases = purchases_by_gender["Male"]
female_purchases = purchases_by_gender["Female"]
other_purchases = total_purchases - (male_purchases + female_purchases)

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [28]:
df.groupby("Gender").Age.mean()

Gender
Female                   21.345133
Male                     22.917178
Other / Non-Disclosed    24.200000
Name: Age, dtype: float64

In [29]:

df.groupby("Gender").agg({"Purchase ID": "count", "Price": "mean"})

                       Purchase ID     Price
Gender
Female                         113  3.203009
Male                           652  3.017853
Other / Non-Disclosed           15  3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [35]:
df.head

<bound method NDFrame.head of      Purchase ID             SN  Age  Gender  Item ID  \
0              0        Lisim78   20    Male      108
1              1    Lisovynya38   40    Male      143
2              2     Ithergue48   24    Male       92
3              3  Chamassasya86   24    Male      100
4              4      Iskosia90   23    Male      131
..           ...            ...  ...     ...      ...
775          775     Aethedru70   21  Female       60
776          776         Iral74   21    Male      164
777          777     Yathecal72   20    Male       67
778          778        Sisur91    7    Male       92
779          779      Ennrian78   24    Male       50

                                     Item Name  Price
0    Extraction, Quickblade Of Trembling Hands   3.53
1                            Frenzied Scimitar   1.56
2                                 Final Critic   4.88
3                                  Blindscythe   3.27
4                                         Fury   1.44
..                                         ...    ...
775                                       Wolf   3.54
776                           Exiled Doomblade   1.63
777      Celeste, Incarnation of the Corrupted   3.46
778                               Final Critic   4.19
779                                       Dawn   4.60

[780 rows x 7 columns]>

In [36]:
players.Gender.value_counts()

NameError: name 'players' is not defined

In [32]:
Age_bins = [0, 9, 10, 14, 19, 24, 29, 34, 39, 99999999]
Age_group =["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "34-39", "40+"]

In [33]:
players_demographics["Age Ranges"] + pd.cut(players_demographics["Age"], age_bins, labels=Age_group

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_23864/1116831101.py, line 2)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [37]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [38]:
purchases_by_gender = purchase_data["Age"].value_counts()
total_purchases = purchases_by_gender.sum()
print(purchases_by_gender)
male_purchases = purchases_by_gender["Male"]
female_purchases = purchases_by_gender["Female"]
other_purchases = total_purchases - (male_purchases + female_purchases)

20    99
22    70
24    67
23    67
21    62
25    59
30    35
15    35
16    30
18    26
19    23
17    22
26    14
33    14
35    14
29    13
27    10
34     9
7      9
10     9
38     9
8      8
32     8
31     7
37     7
11     7
9      6
12     6
40     6
39     6
36     5
28     5
13     4
41     2
44     2
14     2
42     1
43     1
45     1
Name: Age, dtype: int64

KeyError: 'Male'

In [39]:

df.groupby("Age").Age.mean()

Age
7      7.0
8      8.0
9      9.0
10    10.0
11    11.0
12    12.0
13    13.0
14    14.0
15    15.0
16    16.0
17    17.0
18    18.0
19    19.0
20    20.0
21    21.0
22    22.0
23    23.0
24    24.0
25    25.0
26    26.0
27    27.0
28    28.0
29    29.0
30    30.0
31    31.0
32    32.0
33    33.0
34    34.0
35    35.0
36    36.0
37    37.0
38    38.0
39    39.0
40    40.0
41    41.0
42    42.0
43    43.0
44    44.0
45    45.0
Name: Age, dtype: float64

In [40]:
df.groupby("Age").agg({"Purchase ID": "count", "Price": "mean"})

     Purchase ID     Price
Age
7              9  3.654444
8              8  3.246250
9              6  3.045000
10             9  3.536667
11             7  2.684286
12             6  2.633333
13             4  2.362500
14             2  3.455000
15            35  3.018571
16            30  3.018667
17            22  2.930909
18            26  3.162308
19            23  3.042609
20            99  3.174949
21            62  2.915161
22            70  2.955000
23            67  3.013881
24            67  3.137612
25            59  3.083051
26            14  2.870714
27            10  2.723000
28             5  1.690000
29            13  2.710000
30            35  3.152000
31             7  3.435714
32             8  2.836250
33            14  2.486429
34             9  2.458889
35            14  3.716429
36             5  2.532000
37             7  3.644286
38             9  3.794444
39             6  3.886667
40             6  2.785000
41             2  3.270000
42             1  3.930000
43             1  4.000000
44             2  2.680000
45             1  1.700000

## Top Spenders

In [41]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [42]:
summary= df.groupby("SN").agg({Purchase ID": "count", "Price": ["mean", "sum"]})
summary.columns = [Purchase count", "Average Purchase Price", "Total Purchase Value"]
summary.sort_values(by"Total Purchase Value", ascending =False, inplace=True)
summary.head()

SyntaxError: invalid syntax (Temp/ipykernel_23864/379450755.py, line 1)

In [43]:
df.groupby("SN").Age.mean()

SN
Adairialis76     16.0
Adastirin33      35.0
Aeda94           17.0
Aela59           21.0
Aelaria33        23.0
                 ...
Yathecal82       20.0
Yathedeu43       22.0
Yoishirrala98    17.0
Zhisrisu83       10.0
Zontibe81        21.0
Name: Age, Length: 576, dtype: float64

In [44]:

df.groupby("Age").agg({"Purchase ID": "count", "Price": "mean"})

     Purchase ID     Price
Age
7              9  3.654444
8              8  3.246250
9              6  3.045000
10             9  3.536667
11             7  2.684286
12             6  2.633333
13             4  2.362500
14             2  3.455000
15            35  3.018571
16            30  3.018667
17            22  2.930909
18            26  3.162308
19            23  3.042609
20            99  3.174949
21            62  2.915161
22            70  2.955000
23            67  3.013881
24            67  3.137612
25            59  3.083051
26            14  2.870714
27            10  2.723000
28             5  1.690000
29            13  2.710000
30            35  3.152000
31             7  3.435714
32             8  2.836250
33            14  2.486429
34             9  2.458889
35            14  3.716429
36             5  2.532000
37             7  3.644286
38             9  3.794444
39             6  3.886667
40             6  2.785000
41             2  3.270000
42             1  3.930000
43             1  4.000000
44             2  2.680000
45             1  1.700000

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [45]:
most_popular_data_info = {
    "Item ID": [92, 178, 108, 132, 82],
    "Item Name": ["Final Critic", "Oathbreaker - Last Hope of the Breaking Storm", "Extraction - Quickblade Of Trembling Hands", "Persuasion", "Fiery Glass Crusader"],
    "Purchase Count": [13, 12, 9, 9, 9],
    "Item Price": [4.40, 4.23, 4.35, 2.18, 1.02]
}
most_popular_df = pd.DataFrame(most_popular_data_info, columns=["Item ID", "Item Name", "Purchase Count", "Item Price"])
most_popular_df

,Item ID,Item Name,Purchase Count,Item Price
0,92,Final Critic,13,4.40
1,178,Oathbreaker - Last Hope of the Breaking Storm,12,4.23
2,108,Extraction - Quickblade Of Trembling Hands,9,4.35
3,132,Persuasion,9,2.18
4,82,Fiery Glass Crusader,9,1.02

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [46]:
most_popular_data_info = {
    "Item ID": [92, 178, 108, 132, 82],
    "Item Name": ["Final Critic", "Oathbreaker - Last Hope of the Breaking Storm", "Extraction - Quickblade Of Trembling Hands", "Persuasion", "Fiery Glass Crusader"],
    "Purchase Count": [13, 12, 9, 9, 9],
    "Item Price": [4.40, 4.23, 4.35, 2.18, 1.02]
}
most_popular_df = pd.DataFrame(most_popular_data_info, columns=["Item ID", "Item Name", "Purchase Count", "Item Price"])
most_popular_df

,Item ID,Item Name,Purchase Count,Item Price
0,92,Final Critic,13,4.40
1,178,Oathbreaker - Last Hope of the Breaking Storm,12,4.23
2,108,Extraction - Quickblade Of Trembling Hands,9,4.35
3,132,Persuasion,9,2.18
4,82,Fiery Glass Crusader,9,1.02