### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [31]:
# Dependencies and Setup
import pandas as pd
import statistics as st

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

#school_data_complete.head(2)
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [32]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(2)


school_data_complete.head(2)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635

In [33]:
pass_math_df = student_data.loc[student_data["math_score"] >= 70, ["math_score", "school_name"]]
pass_reading_df = student_data.loc[student_data["reading_score"] >= 70, ["reading_score", "school_name"]]
pass_all_df = student_data.loc[(student_data["reading_score"] >=70) & 
                               (student_data["math_score"] >= 70), 
                               ["reading_score", "school_name"]]
                                
pass_all_df = pass_all_df.rename ({'reading_score': '%passboth'
    
})

In [34]:
district_summary_df = pd.DataFrame ({
    'Total schools': [len(school_data)],
    "Total students": ['{:,}'.format(len(student_data))],
    'Total budget':['{:,}'.format(sum(school_data['budget']))],
    'Average math score':[round(st.mean(student_data["math_score"]),2)],
    'Average reading score': [round(st.mean(student_data["reading_score"]),2)],
    '% passing math':[round(100 * len(pass_math_df) / len (student_data),2)],
    '% passing reading':[round(100 * len(pass_reading_df) / len (student_data),2)],
    "% Overall Passing": [round(100 * len(pass_all_df) / len (student_data),2)]                               
    
   
})
district_summary_df.style.hide_index()
district_summary_df.head()

,Total schools,Total students,Total budget,Average math score,Average reading score,% passing math,% passing reading,% Overall Passing
0,15,"39,170","24,649,428",78.99,81.88,74.98,85.81,65.17

## School Summary

   ''' * Create an overview table that summarizes key metrics about each school, including:
      * School Name
      * School Type
      * Total Students
      * Total School Budget
      * Per Student Budget
      * Average Math Score
      * Average Reading Score
      * % Passing Math
      * % Passing Reading
      * % Overall Passing (The percentage of students that passed math **and** reading.)

    * Create a dataframe to hold the above results'''

In [ ]:
   ''' * Create an overview table that summarizes key metrics about each school, including:
      c* School Name
     c * School Type
     c * Total Students
      c* Total School Budget
     c * Per Student Budget
      * Average Math Score
      * Average Reading Score
      * % Passing Math
      * % Passing Reading
      * % Overall Passing (The percentage of students that passed math **and** reading.)

    * Create a dataframe to hold the above results'''

In [38]:
school_summary = school_data_complete.groupby (['school_name', 'type', 'budget', 'size'])


#school_summary = school_summary.count ()
school_summary = school_summary.mean ()
school_summary.head()

,,,,Student ID,reading_score,math_score,School ID
school_name,type,budget,size,,,,
Bailey High School,District,3124928,4976,20358.5,81.033963,77.048432,7.0
Cabrera High School,Charter,1081356,1858,16941.5,83.975780,83.061895,6.0
Figueroa High School,District,1884411,2949,4391.0,81.158020,76.711767,1.0
Ford High School,District,1763916,2739,36165.0,80.746258,77.102592,13.0
Griffin High School,Charter,917500,1468,12995.5,83.816757,83.351499,4.0

In [43]:


#school name
school_name = school_data_complete
school_name ['budget_per_student'] = school_name ['budget']/school_name ['size']

school_name.head()
#school Type
#school_type = school_data.set_index('school_name'). groupby  ([type])

#total students
#total_students = school_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,budject_per_student,budget_per_student
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,655.0,655.0
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,655.0,655.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,655.0,655.0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,655.0,655.0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,655.0,655.0

In [47]:
pass_math_group = pass_math_df.groupby(['school_name'])
count_pass_math = pass_math_group.count()

pass_reading_group = pass_reading_df.groupby(['school_name'])
count_pass_reading = pass_reading_group.count()

pass_all_group = pass_math_df.groupby(['school_name'])
count_pass_all = pass_all_group.count()


count_pass_math.head()

                      math_score
school_name
Bailey High School          3318
Cabrera High School         1749
Figueroa High School        1946
Ford High School            1871
Griffin High School         1371

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type